<!DOCTYPE html>

  {% load static %}
  {% load crispy_forms_tags %}

  <html lang="en">


  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="language" content="English">

    <meta name="author" content="vinayak sharma">


    <title>{{title}}</title>



    <!-- bootstrap file -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- bootstrap file-->


    <!-- jQuery -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <!-- main css -->

      <link rel="stylesheet" type="text/css" href='{% static "index.css" %}' />

    <!-- message here -->


    {% if messages %}

    {% for message in messages %}

    <script>

        document.addEventListener("DOMContentLoaded", function() {
    // Actualizează prețul total când se schimbă cantitatea
    const updateButtons = document.querySelectorAll('.update-cart');
    updateButtons.forEach(function(button) {
        button.addEventListener('click', function(e) {
            const productId = e.target.dataset.productId;
            const quantity = document.querySelector(`.product-quantity[data-product-id="${productId}"]`).value;
            const pricePerUnit = document.querySelector(`.product-price[data-product-id="${productId}"]`).dataset.price;
            const newTotalPriceForProduct = quantity * pricePerUnit;

            // Aici poți adăuga cod pentru a actualiza cantitatea în backend

            // Actualizează prețul afișat pentru produs
            document.querySelector(`.product-price[data-product-id="${productId}"]`).innerText = newTotalPriceForProduct;

            // Recalculează prețul total
            updateTotalPrice();
        });
    });

    function updateTotalPrice() {
        let totalPrice = 0;
        document.querySelectorAll('.product-price').forEach(function(priceSpan) {
            totalPrice += parseFloat(priceSpan.innerText);
        });
        document.getElementById('total-price').innerText = totalPrice;
    }
});

      alert("{{ message }}");

    </script>


    {% endfor %}

    {% endif %}


    <!--_______________________________________________-->




  </head>


  <body class="container-fluid">



    <header class="row">


      <!-- navbar-->

      <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container-fluid">

          <div class="navbar-header">

            <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">

              <span class="icon-bar"></span>

              <span class="icon-bar"></span>

              <span class="icon-bar"></span>

              <span class="icon-bar"></span>

            </button>

          </div>
          <div class="collapse navbar-collapse" id="mainNavBar">


            <button class="btn btn-default navbar-btn custom-btn" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Categorii <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                     <li><a href='{% url "laptopuri" %}'>Laptopuri</a></li>
                     <li><a href='{% url "telefoane" %}'>Telefoane</a></li>
                      <li><a href='{% url "console" %}'>Console</a></li>
                  </ul>

            <div class="navbar-form navbar-left">
                    <form method="GET" action="{% url 'product_list' %}">
                        <button type="submit" class="btn btn-default add-to-cart">
                                Filtrare Produse
                        </button>
                    </form>
            </div>

            <ul class="nav navbar-nav navbar-right">

              <li><a href='{% url "index" %}'>Home</a></li>

              <li><a href='{% url "user_profile" %}'>Profile</a></li>

              {% if user.is_authenticated %}

              <li><a href='{% url "logout" %}'><span class="glyphicon glyphicon-log-out"></span>   Logout</a></li>

              {% else %}

              <li><a href='{% url "register" %}'><span class="glyphicon glyphicon-user"></span>   Sign up</a></li>

              <li><a href='{% url "login" %}'><span class="glyphicon glyphicon-log-in"></span>   Log in</a></li>

              {% endif %}


            </ul>

          </div>

        </div>

      </nav>

    </header>

    <br/>

    <br>

    <br>

  </body>


{% block content %}
<h1>Coșul de Cumpărături</h1>

{% if user.is_authenticated %}
    <p>Bun venit, {{ user.username }}!</p>
    <p>Produse în coș:</p>
    <ul>
        {% for product in cart %}
            <li>
                {{ product.product.name }} -
                <span data-price="{{ product.product.price }}" class="product-price">{{ product.product.price }}</span> RON
                x
                <input type="number" value="1" class="product-quantity" data-product-id="{{ product.product.id }}" min="1">
                <button class="update-cart" data-product-id="{{ product.product.id }}">Actualizează</button>
            </li>
        {% endfor %}
    </ul>
    <p>Total preț: <span id="total-price">{{ total_price }}</span> RON</p>
{% else %}
    <p>Te rugăm să te autentifici pentru a vedea coșul de cumpărături.</p>
{% endif %}

<a href="{% url 'checkout' %}" class="btn btn-primary">Plateste Comanda</a>
{% endblock %}

  </html>